@import '~@/assets/style/vars.styl'

main.mine-page
  section.base-info
    margin-bottom 4vw
    padding 8vw 4vw
    background $bgWhite

    .avatar
      display inline-block
      margin-right 4vw
      border-radius 8vw
      width 16vw
      height 16vw
      text-align center
      vertical-align middle
      color $bgWhite
      font-size 8vw
      line-height 16vw

    span.aka
      display inline-block
      width 64vw
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      vertical-align middle
      font-size 8vw

  ul.mine-list
    margin-bottom 4vw
    padding 0 6vw
    background $bgWhite

    li.mine-list__item
      border-top 1px solid $lineColor
      font-size 4vw
      line-height 14vw

      &:first-child
        border-top 0 none

      a.link
        color $fontColor

  a.sign-out
    display block
    margin 8vw auto 0
    width 64vw
    padding 3vw 0