.article {
    font-size: 12px;
    color: #666;
    p,
    ul,
    ol,
    dl,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    pre,
    form.aui,
    table.aui,
    .aui-tabs,
    .aui-panel,
    .aui-group {
        margin: 10px 0 0 0;
        padding: 0;
        max-width: 100%;
        width: 100%;
        word-wrap: break-word;
        word-break: normal;
    }
    pre {
        white-space: pre-wrap;
    }
    ul,
    ol,
    li {
        margin-left: 1.2em;
    }
    h1 {
        font-size: 18px;
        font-weight: normal;
        line-height: 1.25;
    }
    h2 {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.5;
    }
    h3 {
        font-size: 14px;
        line-height: 1.5;
    }
    h4 {
        font-size: 12px;
        line-height: 1.42857142857143;
    }
    p {
        margin: 10px 0 0 0
    }
    ol {
        list-style-type: decimal;
    }
    a {
        color: #3b73af;
        text-decoration: none;
    }
    table {
        display: table;
        border-color: #ccc;
        border-collapse: collapse;
        tr {
            display: table-row;
            vertical-align: inherit;
            border-color: inherit;
            th {
                padding-right: 15px;
                cursor: pointer;
                user-select: none;
                border: 1px solid #ccc;
                vertical-align: middle;
                text-align: left;
            }
            td {
                border: 1px solid #ccc;
                padding: 7px 10px;
                vertical-align: middle;
                text-align: center;
                border-spacing: 2px;
                border-color: #ccc;
            }
        }
    }

    .macro {
        &.macro-menu {
            margin-bottom: 40px;

            li:before {
                content: '';
                display: inline-block;
                margin-right: 1em;
                border-radius: 4px;
                width: 4px;
                height: 4px;
                background: #333;
                vertical-align: middle;
            }
        }
    }
}
