$titleRightPadding = 64px

a.attention-card
  display block
  position relative
  margin 0 auto
  border-radius 4px
  padding 10px 16px 50px
  min-width 440px
  height 168px
  box-shadow 0 8px 18px 0 rgba(41, 104, 152, .26)
  text-align left
  color #333
  background #fff

  .title
    position relative
    margin-bottom 6px
    padding-right $titleRightPadding
    width 100%
    overflow hidden
    white-space nowrap
    text-overflow ellipsis

    i, h5
      font-size 14px
      line-height 20px
      vertical-align top

    i.icon-font
      color #5b6d95

    h5
      display inline-block

  &:hover .title .remove a
    display inline

  p.update
    margin-bottom 16px
    color #92a0bf
    font-size 12px
