@keyframes slideInUp {
    from {
        transform: translate3d(0, 400%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

main.index {
    padding-right: 280px;
    width: 100%;
    height: 100%;
    overflow: hidden;

    @media screen and (min-width:1340px) and (max-width:2499px) {
        padding-right: 20%;
    }

    @media screen and (min-width:2500px) {
        padding-right: 500px;
    }

    section {
        height: 100%;
        overflow: auto;

        .content {
            position: relative;
            padding: 20px 40px 28px;
            min-height: 100%;
            overflow: hidden;

            nav.nav-list {
                margin-bottom: 8px;
                line-height: 32px;

                ul {
                    display: inline-block;
                    max-width: 474px;
                    text-align: center;
                    font-size: 14px;

                    li {
                        float: left;
                        min-width: 128px;
                        width: 33.333333%;
                        text-align: left;

                        a.nav-btn {
                            display: inline-block;
                            padding: 0 12px;
                            width: 128px;
                            height: 32px;
                            color: #5b6d95;
                            background-color: #f7f8fb;

                            i.material-icons {
                                vertical-align: text-top;
                                font-size: 16px;
                            }

                            &.nav-btn--active {
                                border-radius: 4px;
                                box-shadow: 0 2px 6px 0 rgba(41, 104, 152, .15);
                                color: #4786ff;
                                background-color: #fff;
                            }

                        }
                    }

                }

                @media screen and (min-width: 744px) {
                    ul {
                        width: 100%;
                    }
                }

                @media screen and (max-width: 743px) {
                    ul {
                        float: left;
                        width: 256px;
                    }
                }
            }

            .cards {
                position: relative;
                margin: 0 auto;
                padding-top: 12px;

                & > ul {
                    margin: 0 -10px;

                    & > li {
                        margin-bottom: 20px;
                        padding: 0 10px;
                        text-align: center;
                        animation-name: slideInUp;

                        .card {
                            width: 80%;
                        }
                    }
                }
            }

            footer {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
            }

        }

    }

    &.part-width {

        section .content .cards > ul {

            // 大卡片

            @media screen and (min-width:2425px) {
                &.attention > li {
                    width: 25%;

                    .attention-card {
                        min-width: 100%;
                    }
                }

            }

            @media screen and (min-width:1838px) and (max-width:2424px) {
                &.attention > li {
                    width: 33.333%;

                    .attention-card {
                        max-width: 480px;
                    }
                }

            }

            @media screen and (min-width:1280px) and (max-width:1837px) {
                &.attention > li {
                    width: 50%;
                }

            }

            @media screen and (max-width:1279px) {
                &.attention > li {
                    width: 100%;
                }

            }

            // 常规卡片
            @media screen and (min-width:2552px) {
                &.general > li {
                    width: 16.6666%;
                }

            }

            @media screen and (min-width:2150px) and (max-width:2551px) {
                &.general > li {
                    width: 20%;
                }

            }

            @media screen and (min-width:1735px) and (max-width:2149px) {
                &.general > li {
                    width: 25%;
                }

            }

            @media screen and (min-width:1336px) and (max-width:1734px) {
                &.general > li {
                    width: 33.333%;
                }

            }

            @media screen and (min-width:1004px) and (max-width:1335px) {
                &.general > li {
                    width: 50%;
                }

            }

            @media screen and (max-width:1003px) {
                &.general > li {
                    width: 100%;
                }

            }
        }
    }

    &.full-width {
        padding-right: 0;

        section .content .cards > ul {

            // 大卡片

            @media screen and (min-width:2410px) {
                &.attention > li {
                    width: 20%;

                    .attention-card {
                        min-width: 100%;
                    }
                }
            }

            @media screen and (min-width:1940px) and (max-width:2409px) {
                &.attention > li {
                    width: 25%;

                    .attention-card {
                        min-width: 100%;
                    }
                }
            }

            @media screen and (min-width:1470px) and (max-width:1939px) {
                &.attention > li {
                    width: 33.333%;

                    .attention-card {
                        max-width: 480px;
                    }
                }
            }

            @media screen and (max-width:1469px) {
                &.attention > li {
                    width: 50%;
                }
            }

            // 常规卡片
            @media screen and (min-width:2716px) {
                &.general > li {
                    width: 12.25%;
                }
            }

            @media screen and (min-width:2384px) and (max-width:2715px) {
                &.general > li {
                    width: 14.2857%;
                }
            }

            @media screen and (min-width:2052px) and (max-width:2383px) {
                &.general > li {
                    width: 16.6666%;
                }
            }

            @media screen and (min-width:1720px) and (max-width:2051px) {
                &.general > li {
                    width: 20%;
                }
            }

            @media screen and (min-width:1388px) and (max-width:1719px) {
                &.general > li {
                    width: 25%;
                }
            }
            @media screen and (max-width:1387px) {
                &.general > li {
                    width: 33.333%;
                }
            }

        }
    }

    .oaui-modal {
        width: 550px;

        .oaui-modal-body {
            height: 200px;
            text-align: center;

            nav {
                text-align: center;
                line-height: 40px;

                a {
                    display: inline-block;
                    margin: 0 12px;
                    line-height: 20px;
                }
            }

            .input-search {
                width: 360px;
            }
        }

        .oaui-modal-footer {
            button.primary {}
        }
    }
}
