.viewport #app .comment-main {
    overflow: visible !important;
    margin-top: 30px;

    .total {
        color: #96a1bb;
        font-size: 14px;
        font-weight: 500;
        line-height: 60px;
    }
    .text-container {
        .head-picture {
            float: left;
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #93a1c0;
            margin-right: 10px;
        }

        .textarea {
            width: calc(~"100% - 50px");
            display: inline-block;
        }
    }

    .oaui-pagination {
        margin-top: 60px;
        margin-bottom: 90px;
        .pagination-content {
            text-align: center;
        }
    }
}
