.associate
  margin-top 2px
  border-radius 4px
  box-shadow 0 0 6px 0 rgba(41, 104, 152, .3)
  width 100%
  background #fff

  .block
    width 100%
    font-size 0

    a
      color #92a0bf
      font-size 14px
      display inline-block

    a:hover
      text-decoration underline

    header
      padding 0 22px
      height 30px
      line-height 30px
      font-size 14px
      color #333

      .delete
        float right

    main
      padding 0 22px

      .tag
        height 22px
        line-height 22px
        padding 0 10px
        background #ebeef4
        border-radius 15px
        margin-right 20px
        margin-bottom 8px

      .img-container
        width 200px
        height 110px
        background-size cover
        margin-right 18px
        border-radius 5px
        position relative

        .text
          width 100%
          position absolute
          bottom 0
          height 24px
          background-color #000
          color #fff
          font-size 12px
          line-height 24px
          text-indent 1em


      .img-container:last-child
        margin-right 0

      .img-container:hover
        .text
          background rgba(0, 0, 0, 0.6)

    .result-main
      padding 0
      border-bottom 1px solid #d9dee8

      .item
        padding 0 22px
        font-size 14px
        color #5b6d95

        em
          display inline-block
          width 20px
          height 20px
          border-radius 50%
          text-align center
          line-height 20px
          color #fff

      .item:hover
        background #e7ecf4

  .block:nth-child(3)
    .result-main
      border none

  footer
    height 34px
    line-height 34px
    text-align center
    background #f8f9fb

    a
      color #92a0bf
